#dj-galleryGrid7m484 {
	margin: 10px 0 10px -1px;
	border: 0px;
}
#dj-galleryGrid7m484 .dj-galleryGrid-in {
	position: relative;
}
#dj-galleryGrid7m484 .dj-slides {
	position: relative;
	z-index: 5;
}
#dj-galleryGrid7m484 .dj-slide {
	position: relative;
	float: left;
	width: 195px;
	overflow: hidden;
	margin-bottom: 1px;
	margin-left: 1px;
	text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent url(/components/com_djmediatools/layouts/galleryGrid/images/loading.gif) center center no-repeat;
}
#dj-galleryGrid7m484 .dj-slide.dj-first {
	clear: both;
}
#dj-galleryGrid7m484 .dj-slide.active {
	z-index: 1;
}
#dj-galleryGrid7m484 .dj-slide-in {
	opacity: 0;
	position: relative;
	height: 100%;
	overflow: hidden;
}
#dj-galleryGrid7m484 .dj-slide-in noscript {
	position: absolute;
	top:0;
	left:0;
}
#dj-galleryGrid7m484 .dj-slide-in > a {
	background: none;
}
#dj-galleryGrid7m484 .dj-slide-image {
	width: 100%;
		-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#dj-galleryGrid7m484 .dj-slide img.dj-image, 
#dj-galleryGrid7m484 .dj-slide a:hover img.dj-image {
	max-width: 100%;
	height: auto;
}
#dj-galleryGrid7m484 .dj-slide-in .video-icon {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	background: url(/components/com_djmediatools/layouts/galleryGrid/images/video.png) center center no-repeat;
}

#dj-galleryGrid7m484 .dj-slide-desc {
			position: absolute;
		bottom: 0%;
		left: 0%;
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
#dj-galleryGrid7m484 .dj-slide-desc-in {
	position: relative;
	}
#dj-galleryGrid7m484 .dj-slide-desc-bg {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
			opacity: 0.5;
		filter: alpha(opacity = 50);
	}
#dj-galleryGrid7m484 .dj-slide-desc-text {
	position: relative;
	font-size: 10px;
	color: #ccc;
	padding: 10px;
	text-align: left;
}
#dj-galleryGrid7m484 .dj-slide-desc-text p {
	display: block;
	padding: 0;
}
#dj-galleryGrid7m484 .dj-slide-desc-text a {
	color: #f5f5f5;
}
#dj-galleryGrid7m484 .dj-slide-title {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1;
	color: #f5f5f5;
}
#dj-galleryGrid7m484 .dj-slide-title a {
	background: none;
}
#dj-galleryGrid7m484 .dj-readmore-wrapper {
	padding: 5px 0 0;
	text-align: right;
}
#dj-galleryGrid7m484 a.dj-readmore {
	font-size: 1.1em;
}
#dj-galleryGrid7m484 .dj-extra {
	float: right;
	margin: 0 0 5px 20px;
}

#dj-galleryGrid7m484 .showOnMouseOver {
	opacity: 0;
}

.tip-wrap { 
	z-index: 50;
}
.tip-wrap .tip {
	font-size:10px;
	text-align:left;
	padding:10px;
	max-width:400px;
	color: #ccc;
	background: #222;
	border: 3px solid #eee;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	opacity: 0.8;
}
.tip-wrap .tip-title {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1;
	color: #f5f5f5;
	margin-bottom: 5px;
}
#dj-galleryGrid7m484 .dj-slide-desc.desc-center-vh{
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: none;
}
#dj-galleryGrid7m484 .dj-slide-desc.desc-center-vh .dj-slide-desc-in{
	height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}