.sif_div, .message_head{
	background:#eee;
	padding:3px;
	margin:0px;
	border:#aaa 1px solid;
	list-style-type:none;
}

.message_head{
	height:24px;
	border-top:#bbb 1px solid;
}
.message_list a, .message_list div{
	display:block;
	text-decoration:none;
	color:#333;
	font-size:16px;
	border-radius: 5px;
	background:url("fon.jpg") repeat-x;
}

.message_list a:hover{background:url("arr.jpg") right no-repeat;}

ol{padding:0px; margin:0px;}

.message_head h3:hover, .message_head:hover{
	background:#fff;
}

.message_list li{
	list-style-type:none;
}
.message_body{background:none !important;}







.sif_container {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}
.sif_item {
  border-right: 4px solid #ffffff;
  padding: 0px;
  overflow: hidden;
  position: relative;
}
.sif_label{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  line-height: 50px;
  text-align: center;
  background-color: #000000;
  opacity: 0;
  color: #ffffff !important;
  font-family: Verdana;
  transition: 0.3s opacity;
}

.sif_label h3{color:#fff;}

.sif_item a{color: yellow;}
.sif_item:hover .sif_label {
  opacity: 0.8;
}


.sif_container {
  width: auto;
  max-width:850px;
  height: auto;
  display: flex;
  flex-direction: row;
}
.sif_item {
  flex: 1 1 1px;
  transition: 0.3s flex;
}
.sif_item:hover {
  flex: 0.0001 0 500px;
}