#djslider-loader1m441 {
	margin: 10px auto;
	position: relative;
	background: url(/components/com_djmediatools/layouts/slider/images/loader.gif) center center no-repeat;
}
#djslider1m441 {
	opacity: 0;
	margin: 0 auto;
	position: relative;
	height: 90px; 
	width: 454px;
	max-width: 454px;
}
#slider-container1m441 {
	position: absolute;
	overflow: hidden;
	left: 0; 
	top: 0;
	height: 100%; 
	width: 100%;
}
#djslider1m441 ul#slider1m441 {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
#djslider1m441 ul#slider1m441 > li:before {
	content: none;
}
#djslider1m441 ul#slider1m441 > li {
	list-style: none outside !important;
			float: left;
		margin: 0 1px 0 0 !important;
		padding: 0 !important;
	border: 0 !important;
	position: relative;
	height: 90px;
	width: 90px;
	background: none;
	overflow: hidden;
	text-align: center;
}
#slider1m441 > li .dj-slide-image {
	height: 100%;
}
#slider1m441 > li img {
	width: auto;
	height: 100%;
	border: 0 !important;
	margin: 0 !important;
}
#slider1m441 > li a img, #slider1m441 > li a:hover img {
	border: 0 !important;
}
#slider1m441 .video-icon {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	background: url(/components/com_djmediatools/layouts/slider/images/video.png) center center no-repeat;
}

#slider1m441 .dj-slide-desc {
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
}
#slider1m441 .dj-slide-desc-in {
	position: relative;
}
#slider1m441 .dj-slide-desc-bg {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}
#slider1m441 .dj-slide-desc-text {
	position: relative;
	color: #ccc;
	padding: 10px;
	text-align: left;
}
#slider1m441 .dj-slide-desc-text p {
	display: block;
	padding: 0;
}
#slider1m441 .dj-slide-desc-text a {
	color: #f5f5f5;
}
#slider1m441 .dj-slide-title {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1;
	color: #f5f5f5;
	margin-bottom: 5px;
}
#slider1m441 .dj-slide-title a {
	background: none;
}
#slider1m441 .dj-readmore-wrapper {
	padding: 5px 0 0;
	text-align: right;
}
#slider1m441 a.dj-readmore {
	font-size: 1.1em;
}
#slider1m441 .dj-extra {
	float: right;
	margin: 0 0 5px 20px;
}

#navigation1m441 {
	position: relative;
	top: 55.555555555556%; 
	margin: 0 10px;
	text-align: center !important;
    justify-content: space-between;
    display: flex;
}
#prev1m441 {
	cursor: pointer;
	display: block;
    margin: 0 6px;
    order: 1;
	}
#next1m441 {
	cursor: pointer;
	display: block;
    margin: 0 6px;
    order: 3;
	}
#play1m441, 
#pause1m441 {
	cursor: pointer;
	display: block;
    margin: 0 6px;
    order: 2;
	}

#cust-navigation1m441 {
			margin: 10px auto 0 auto;
		max-width: 454px;
		
}
#cust-navigation1m441 .cust-navigation-in {
	text-align: center;
	padding: 0 10px;
}
#cust-navigation1m441 .load-button {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #000;
	border: 2px solid #fff;
	box-shadow: 0 0 2px #999;
	margin: 2px;
	cursor: pointer;
	border-radius: 7px;
	-moz-border-radius: 7px;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}
#cust-navigation1m441 .load-button-active {
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

/* Fading elements */
#djslider-loader1m441 .showOnHover {
	opacity: 0;
	-webkit-transition: opacity 200ms ease 50ms;
	transition: opacity 200ms ease 50ms;
}
#djslider-loader1m441:hover .showOnHover,
#djslider-loader1m441.focused .showOnHover {
	opacity: 1;
}

html[dir="rtl"] .djslider {
	direction: ltr;
}

html[dir="rtl"] .djslider .navigation-container-custom {
	direction: rtl;
}
#djslider-loader1m441 .dj-slide-desc.desc-center-vh{
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: none;
}
#djslider-loader1m441 .dj-slide-desc.desc-center-vh .dj-slide-desc-in{
	height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}