@font-face {
    font-family: 'TCF';
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
    src: url('/font-face/custom/twemoji-country-flags.woff2') format('woff2');
}

body.chromium-browser-detected {
    font-family: MarkPro, Geometria, Tahoma, Arial, TCF, sans-serif;   
}

body.chromium-browser-detected .button, 
body.chromium-browser-detected button, 
body.chromium-browser-detected input,  
body.chromium-browser-detected select, 
body.chromium-browser-detected textarea {
    font-family: MarkPro, Geometria, Tahoma, Arial, TCF, sans-serif;       
}