@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lfupih');
  src:  url('fonts/icomoon.eot?lfupih#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lfupih') format('truetype'),
    url('fonts/icomoon.woff?lfupih') format('woff'),
    url('fonts/icomoon.svg?lfupih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-search:before {
  content: "\e986";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-youtube:before {
  content: "\ea9d";
}
