/*	ACESSIBILIDADE
*	jBility
* https://github.com/urielcaire/jbility
*/

.pagina-acessivel{
	background-color: #111111!important;
	color: #FFFFFF;
}

.pagina-acessivel h1, .pagina-acessivel h2, .pagina-acessivel h3, .pagina-acessivel h4{
	color: #FFFFFF!important;
}

.pagina-acessivel a, .pagina-acessivel h1 a, .pagina-acessivel h2 a, .pagina-acessivel h3 a, .pagina-acessivel h4 a, .pagina-acessivel i{
	text-decoration: none;
	color: #FFFF00!important;
}

.pagina-acessivel a:hover{
	text-decoration: underline;
}

.pagina-acessivel .dropdown-menu{
	border-color: #FFFFFF!important;
}

.pagina-acessivel li.active > a{
	color: 	#E53935!important;
}

.acess-container { cursor: pointer; display: block; position: fixed; right: 0px; top: 85px; z-index: 999;  line-height:1.2em; }
@media (max-width: 1799px) {
 .acess-container { top: 174px; }
}
@media (max-width: 991px) {
 .acess-container { top: 56px; }
}

#jbbutton { margin-left: 0px; width: 52px; height: 52px; float: left; }

.acess-icon { padding:5px 15px; display:block; }
.acess-icon span.text { display:inline-block; margin-left:3px; font-size:13px; }

#acess-icons { display: none; float: left; border:1px solid #000; background-color: #fcfcfc; width:200px; padding-bottom:15px; }

#acess-icons .title-icon { display:block; font-weight:700; letter-spacing: 1.1px; font-size:14px; padding:10px 15px; }

.f-transparent{
	background-color: transparent!important;
}

.f-grayscale { filter: grayscale(100%); -webkit-filter: grayscale(100%); -webkit-filter: grayscale(1); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: gray; }

.f-readble-font { font-family: Verdana,Arial,Helvetica,sans-serif !important; }

.balloon {
    position: relative;
    display: inline-block;
}

.balloon .balloontext {
    visibility: hidden;
    width: 120px;
    background-color: #1E88E5;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.balloon .balloontext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1E88E5 transparent transparent transparent;
}

.balloon:hover .balloontext {
    visibility: visible;
}
