.hero-slider-section {
    padding: 0px;

}
.hero-slider-section .hero-slider {

}
.hero-slider-section .hero-slider-wrapper {

}
.hero-slider-section .slide-section {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
    padding-block: clamp(7.2rem, calc(4.28571429vw + 5.82857143rem), 12rem);
    padding-inline: clamp(2.8rem, calc(0.17857143vw + 2.74285714rem), 3rem);
}
.hero-slider-section .slide-section .slide-section-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: auto;
}
.hero-slider-section .slide-section .brxe-container {
    width: 100%;
}
.hero-slider-section .slide-section .hero-slide-box {
    background-color: rgba(194, 238, 255, 0.80);
    padding: 43px 26px 36px 36px;
    border-radius: 8px;
    max-width: 450px;
    margin-right: auto;
}
@media (max-width: 767px)
{
    .hero-slider-section .slide-section .hero-slide-box {
        padding: 43px 20px 30px;
    }
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-top {
    display: flex;
    margin-bottom: 31px;
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-top .hero-slide-box-title {
    width: 64%;
    padding-right: 11px;
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-top .hero-slide-box-percentage {
    width: 36%;
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-middle .hero-slide-box-text {
    width: 64%;
    padding-right: 11px;
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-middle .hero-slide-box-logo {
    width: 36%;
    display: flex;
    justify-content: center;
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-middle .hero-slide-box-logo img {
    max-width: 60px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: 12px;
}
.hero-slider-section .slide-section .hero-slide-box h1,
.hero-slider-section .slide-section .hero-slide-box h2,
.hero-slider-section .slide-section .hero-slide-box h3,
.hero-slider-section .slide-section .hero-slide-box h4,
.hero-slider-section .slide-section .hero-slide-box h5,
.hero-slider-section .slide-section .hero-slide-box h6 {
    color: #001A52;
    font-family: "Suisse Int’l";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16; /* 116.364% */
    letter-spacing: -0.55px;
}
@media (max-width: 767px)
{
    .hero-slider-section .slide-section .hero-slide-box h1,
    .hero-slider-section .slide-section .hero-slide-box h2,
    .hero-slider-section .slide-section .hero-slide-box h3,
    .hero-slider-section .slide-section .hero-slide-box h4,
    .hero-slider-section .slide-section .hero-slide-box h5,
    .hero-slider-section .slide-section .hero-slide-box h6 {
        color: #001A52;
        font-size: 3.2rem;
    }
    .hero-slider-section .slide-section .hero-slide-box .hero-slide-box-top .hero-slide-box-title {
        width: 60%;
    }
    .hero-slider-section .slide-section .hero-slide-box .hero-slide-box-top .hero-slide-box-percentage {
        width: 40%;
    }
    .hero-slider-section .slide-section .hero-slide-box .hero-slide-box-middle .hero-slide-box-text {
        width: 60%;
    }
    .hero-slider-section .slide-section .hero-slide-box .hero-slide-box-middle .hero-slide-box-logo {
        width: 40%;
    }
}
@media (max-width: 380px)
{
    .hero-slider-section .slide-section .hero-slide-box h1,
    .hero-slider-section .slide-section .hero-slide-box h2,
    .hero-slider-section .slide-section .hero-slide-box h3,
    .hero-slider-section .slide-section .hero-slide-box h4,
    .hero-slider-section .slide-section .hero-slide-box h5,
    .hero-slider-section .slide-section .hero-slide-box h6 {
        color: #001A52;
        font-size: 3rem;
    }
}
.hero-slider-section .slide-section .hero-slide-box h1 span,
.hero-slider-section .slide-section .hero-slide-box h2 span,
.hero-slider-section .slide-section .hero-slide-box h3 span,
.hero-slider-section .slide-section .hero-slide-box h4 span,
.hero-slider-section .slide-section .hero-slide-box h5 span,
.hero-slider-section .slide-section .hero-slide-box h6 span {
    color: #00C2E4;
    font-weight: 600;
}
.hero-slide-box-percentage p {
    color: #00C2E4;
    font-family: "Suisse Int’l";
    font-size: 136px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 47.059% */
    letter-spacing: -1.36px;
    position: relative;
    margin-top: 96px;
}
.hero-slide-box-percentage p span {
    font-size: 40%;
    transform: translateY(-6rem);
    display: inline-block;
    font-weight: 600;
}
@media (max-width: 767px)
{
    .hero-slide-box-percentage p {
        font-size: 70px;
        margin-top: 42px;
    }
    .hero-slide-box-percentage p span {
        transform: translateY(-3rem);
    }
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-middle {
    display: flex;
}
.hero-slider-section .slide-section .hero-slide-box .hero-slide-box-middle p {
    color: #00225A;
    font-family: "Suisse Int’l";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3; /* 130% */
    letter-spacing: 0.2px;
}

.hero-slide-box-btn-block {
    margin-top: 46px;
}

.hero-slide-box-btn-block .hero-slide-box-btn {
    background-color: #00C2E4;
}
.hero-slide-box-btn-block .hero-slide-box-btn:hover {
    background-color: #FFFFFF;
}


