.obiChatLauncher {
    width: 40px;
    height: 35px;
    position: fixed;
    border-width: 0;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
    justify-content: center;
    z-index: 2147483647;
}

.obiChatLauncherBottomRight {
    bottom: 20px;
    right: 20px;
}

.obiChatLauncherBottomLeft {
    bottom: 20px;
    left: 20px;
}

.obiChatLauncher__text {
    width: 300px;
}

.obiChatLauncherOpen {
    height: calc(100% - 30px);
    max-height: 560px;
    min-height: 340px;
    width: 390px;
}

.obiChatLauncherHidden {
    display: none;
}

@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
    /* !important is used to override the height query below */
    .obiChatLauncherOpen {
        width: 100%;
        height: 100% !important;
        max-height: 100% !important;
        bottom: 0 !important;
        left: 0;
        box-shadow: none;
    }

    .obiChatLauncherBottomRight,
    .obiChatLauncherBottomLeft {
        bottom: 10px;
    }

    .obiChatLauncherBottomRight {
        right: 10px;
    }

    .obiChatLauncherBottomLeft {
        left: 10px;
    }
}

@media only screen and (max-height: 390px) {
    .obiChatLauncherOpen {
        height: calc(100% - 20px);
        max-height: 370px;
        min-height: 0;
        box-shadow: none;
    }

    .obiChatLauncherBottomRight,
    .obiChatLauncherBottomLeft {
        bottom: 10px;
    }

    .obiChatLauncherBottomRight {
        right: 10px;
    }

    .obiChatLauncherBottomLeft {
        left: 10px;
    }
}

