@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../C:/xampp/htdocs/hesites-downloaded-/fixed-sites/bulawayopolytechnic.ac.zw/downloaded-assets/fonts.gstatic.com/s/cabin/v35/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EH7alwg.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../C:/xampp/htdocs/hesites-downloaded-/fixed-sites/bulawayopolytechnic.ac.zw/downloaded-assets/fonts.gstatic.com/s/ubuntu/v21/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
